<h6>This implicit agreement is between <%= @posting.user.email %> and <%= @agree.user.email %></h6>
<h6><%= @agree.user.email %> agrees to fulfill the following task for <%= @posting.user.email %>:</h6>
<p> <%= @posting.name %></p>