<!DOCTYPE html>
<html>
  <head>
    <title>NeighborCircle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse">
      <div class="container">
        <%= link_to "Neighbors' Circle", root_path, class: "navbar-brand" %>
        <ul class="navbar-nav">
          <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
            <% if user_signed_in? %>
               <li class="pull-med-right"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
               <li><%= link_to "New Posting", new_posting_path %></li>
               <li><%= link_to "Posting List", postings_path %></li>
            <% else %>
               <li class="btn btn-info"><%= link_to "Sign Up", new_user_registration_path %></li>
               <li class="pull-med-right"><%= link_to "Login", new_user_session_path %></li>
            <% end %>
        </ul>
      </div>
    </nav>
    
    <%  flash.each do |name, message| %>
      <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
