<!DOCTYPE html>
<html>
  <head>
    <title>NeighborCircle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  </head>

  <body>
    <section class="top-page">
        
    
      <div class="row"
        <div class="col-3">
          <!-- Navigation Bar -->
          <div class="container">

                <ul class="navbar-nav mr-auto float-left">
                  <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "About", about_path, class: "nav-link" %></li>
                  <li class="nav-item"><%= link_to "Contact", contact_path, class: "nav-link" %></li>
                  <% if user_signed_in? %>
                        <% name = current_user.email.slice(0..current_user.email.chars.find_index("@")-1) %>
                        <p id="user_name">Hello <%= name %>! </p>
                     
                     <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
                     <li class="nav-item"><%= link_to "New Posting", new_posting_path %></li>
                     <li class="nav-item"><%= link_to "Posting List", postings_path %></li>
                     <li class="nav-item"><%= link_to "My Agreements", agreements_path %></li>
                </ul>
                  <% else %>
                    <ul class="navbar-nav mr-auto float-right">
                       <li class="btn btn-info  nav-item"><%= link_to "Sign Up", new_user_registration_path %></li>
                       <li class="nav-item"><%= link_to "Login", new_user_session_path %></li>
                    </ul>
                  <% end %>
                   
            </nav>    
          </div>
          
      
          <%  flash.each do |name, message| %>
            <%= content_tag(:div, message, class: "alert alert-info #{name}") %>
          <% end %>
      </div> <!-- col-3 -->
      <div class="col-6">
        <div class="all_lines">
          <div class="lines"></div>
          <div class="lines"></div>
          <div class="lines"></div>
        </div>
        
      </div>
      <div class="col-3">
        <aside class="top-right">
          <div class="col-md-12"></div>
            <%= image_tag("active_people.png", :alt => "logo") %>
          </div>
      </aside>
        
      </div>
    </div> <!-- row -->
    
  </section><!-- top-page -->
     
  
      <div class="container">
        <div class="row justify-content-center">
         
          <div class-"col-8 justify-content-center flex">
               <%= yield %>
          </div>
          
         
                 
          
        </div
      </div>
  <footer>
    <div class="foot-separator"></div>
      <div class="foot-elements">
        <p><%= link_to "Home", root_path, class: "nav-link" %>|<%= link_to "About", about_path, class: "nav-link" %>|<%= link_to "Contact", contact_path, class: "nav-link" %></p>
      </div>
  </footer>  
  </body>
</html>
